# CORE__BACKEND=<<[discord|console]>>
# CORE__DATABASE_ADAPTER=<<[mongodb|in_memory]>>

# -----------------------------------------------------------------------------------
# DISCORD BACKEND (uncomment and complete if CORE__BACKEND=discord)
# -----------------------------------------------------------------------------------
# DISCORD__TOKEN=<<YOUR BOT TOKEN>>
# DISCORD__ADMIN_ID=<<DISCORD USER ID OF ADMIN USER>>
# -----------------------------------------------------------------------------------

# -----------------------------------------------------------------------------------
# MONGODB DATABASE ADAPTER (uncomment and complete if CORE__DATABASE_ADAPTER=mongodb)
# -----------------------------------------------------------------------------------
# MONGODB__HOSTNAME= <<optional: default=localhost>>
# MONGODB__PORT= <<optional: default=41428>>
# MONGODB__USER= <<optional: default=none>>
# MONGODB__PASSWORD= <<optional: default=none>>
# -----------------------------------------------------------------------------------